body {
  background-color: #3f3f3f !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
// body::-webkit-scrollbar {
//   display: none;
// }

.ant-comment-inner {
  width: 500px !important;
}
.ant-timeline-item-tail {
  border-left: 2px solid black !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-corner {
  display: block;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}
::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.15);
}
