@media screen and (min-width: 600px) {
  #about {
    min-width: 800px;
    max-width: 1500px;
    padding-right: 20px;
    word-break: break-all;
    .about-title {
      margin-top: 20px;
      font-size: 30px;
      font-weight: 400;
    }
    .about-text {
      color: red;
      margin-top: 10px;
    }
    .about-main {
      margin-top: 10px;
      color: rgb(75, 75, 75);
    }
    .support {
      margin-top: 20px;
      .support-title {
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 10px;
        margin-top: 30px;
      }
      a {
        font-weight: 900;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  #about {
    width: 90vw;
    margin: 0px auto;
    word-break: break-all;
    .about-title {
      margin-top: 20px;
      font-size: 30px;
      font-weight: 400;
    }
    .about-text {
      color: red;
      margin-top: 10px;
    }
    .about-main {
      margin-top: 10px;
      color: rgb(75, 75, 75);
    }
    .support {
      margin-top: 20px;
      .support-title {
        font-weight: 700;
        font-size: 22px;
        margin-bottom: 10px;
        margin-top: 30px;
      }
      a {
        font-weight: 900;
      }
    }
  }
}
