@media screen and (min-width: 600px) {
  .box {
    padding: 5px 0px;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #fff;
    max-width: 1500px;
    &:last-child {
      border-bottom: 0px !important;
    }
    .article-head {
      height: 50px;
      line-height: 50px;
      .article-title {
        width: calc(100% - 150px);
        overflow: hidden; //超出的文本隐藏
        text-overflow: ellipsis; //溢出用省略号显示
        white-space: nowrap; //溢出不换行
        font-weight: 400;
        font-size: 32px;
        color: #333;
        float: left;
        text-decoration: none;
        &:hover {
          color: #076dd0;
          cursor: pointer;
        }
      }
      .article-time {
        float: right;
        margin-right: 20px;
      }
    }
    .article-text {
      color: #444;
      padding: {
        top: 5px;
        bottom: 10px;
        right: 200px;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .box {
    padding: 5px 0px;
    border-bottom: 1px solid #ddd;
    width: calc(100vw - 20px);
    margin: 0px auto;
    .article-title {
      width: calc(100% - 150px);
      overflow: hidden; //超出的文本隐藏
      text-overflow: ellipsis; //溢出用省略号显示
      white-space: nowrap; //溢出不换行
      font-weight: 400;
      font-size: 28px;
      color: #333;
      float: left;
      text-decoration: none;
    }
    .article-time {
      float: right;
    }
    .article-text {
      clear: both;
    }
  }
}
