@media screen and (min-width: 600px) {
  header#head {
    width: 270px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url(../image/left-bg2.jpg);
    background-size: cover;
    .writer-face {
      width: 160px;
      border-radius: 50%;
      margin-left: 55px;
      margin-top: 50px;
    }
    nav {
      width: 160px;
      margin-left: 55px;
      .writer-name {
        font-weight: 400;
        color: white;
        margin-top: 15px;
      }
      .write-text {
        color: white;
        margin-top: 10px;
      }
      .nav {
        margin-top: 20px;
        a,
        span {
          text-decoration: none;
          display: block;
          height: 35px;
          line-height: 35px;
          color: #fff;
          text-shadow: 0 1px #666;
          font-size: 14px;
          &:hover {
            background-color: rgb(223, 223, 223, 0.1);
          }
        }
      }
      .navs {
        margin-top: 20px;
        img {
          width: 30px;
          margin-left: 5px !important;
        }
        .clearMargin {
          margin-left: 0px !important;
        }
      }
    }
    .layer {
      width: 100vw;
      height: 100vh;
      background: rgb(0, 0, 0, 0.3);
      text-align: center;
      line-height: 100vh;
      position: fixed;
      top: 0px;
      left: 0px;
      user-select: none;
      img {
        width: 200px;
        height: 200px;
      }
    }
    .active {
      background-color: rgb(223, 223, 223, 0.1);
    }
  }
}

@media screen and (max-width: 600px) {
  header#head {
    width: 100vw;
    padding-bottom: 40px;
    background-color: #087481;
    padding-top: 30px;
    .writer-face {
      display: block;
      width: 30vw;
      border-radius: 50%;
      margin-left: 35vw;
    }
    .writer-name {
      text-align: center;
      margin-top: 10px;
    }
    .write-text {
      text-align: center;
      margin-top: 10px;
      font-weight: 700;
    }
    .nav {
      width: 60vw;
      min-width: 200px;
      margin: 0px auto;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      a {
        color: white;
        text-decoration: none;
      }
    }
    .navs {
      width: 30vw;
      margin: 0px auto;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      img {
        width: 7vw;
      }
    }
    .layer {
      width: 100vw;
      height: 100vh;
      background: rgb(0, 0, 0, 0.3);
      text-align: center;
      line-height: 100vh;
      position: fixed;
      top: 0px;
      left: 0px;
      user-select: none;
      img {
        width: 50vw;
        width: 50vw;
      }
    }
  }
}
