#messgae {
  .mes-head {
    height: 60px;
    line-height: 60px;
    .logn-in {
      float: right;
      margin: {
        right: 40px;
        top: 10px;
      }
      span {
        margin-right: 20px;
      }
    }
    img {
      cursor: pointer;
      width: 40px;
      border-radius: 50%;
    }
    .signed-in {
      span {
        margin-right: 20px;
      }
    }
  }
}
#showMes {
  .mes {
    .mes-userdata {
      width: 100%;
      display: flex;
      .mes-face {
        width: 40px;
        height: 40px;
        border-radius: 50px;
      }
      .mes-text {
        width: 100%;
        .mes-name {
          width: 100px !important;
          display: inline-block;
        }
        .mes-time {
          width: 100px !important;
          display: inline-block;
        }
        .mes-reply {
          color: rgb(0, 162, 255);
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .mes-showMes {
    margin: 0px;
    margin-left: 10px;
    color: rgb(47, 0, 255);
  }
}
@media screen and (min-width: 600px) {
  #div1 {
    width: 95%;
  }
  .send {
    display: block;
    margin-top: 20px;
    width: 95%;
    margin-bottom: 30px;
  }
  .mes-children{
    .mes{
      margin-left: 50px;
    }
  }
}

@media screen and (max-width: 600px) {
  #div1 {
    width: 95%;
    margin: 0px auto;
  }
  .send {
    display: block;
    margin: 0px auto;
    margin-top: 20px;
    width: 95%;
    margin-bottom: 30px;
  }
  .mes{
    margin-left: 5%;
  }
  .mes-children{
    .mes{
      margin-left: 10%;
    }
  }
}