@media screen and (min-width: 600px) {
  #resume {
    img {
      width: 80%;
      max-width: 1000px;
    }
  }
}
@media screen and (max-width: 600px) {
  #resume {
    h2 {
      text-align: center;
    }
    text-align: center;
    img {
      width: 90%;
    }
  }
}
