body {
  padding-left: 320px;
}

header {
  width: 270px;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  background-image: url(../image/left-bg2.jpg);
  background-size: cover;
}
header .writer-face {
  width: 160px;
  border-radius: 50%;
  margin-left: 55px;
  margin-top: 50px;
}
header nav {
  width: 160px;
  margin-left: 55px;
}
header nav .writer-name {
  font-weight: 400;
  color: white;
  margin-top: 15px;
}
header nav .write-text {
  color: white;
  margin-top: 10px;
}
header nav .nav {
  margin-top: 20px;
}
header nav .nav a {
  text-decoration: none;
  display: block;
  height: 35px;
  line-height: 35px;
  color: #fff;
  text-shadow: 0 1px #666;
  font-size: 14px;
}
header nav .nav a:hover {
  background-color: rgba(223, 223, 223, 0.1);
}
header nav .navs {
  margin-top: 20px;
}
header nav .navs img {
  width: 30px;
  margin-left: 5px !important;
}
header nav .navs .clearMargin {
  margin-left: 0px !important;
}

article {
  margin-right: 100px;
  max-width: 1500px;
}
article .article-head {
  margin-top: 30px;
  height: 50px;
  line-height: 50px;
}
article .article-head .article-title {
  font-weight: 400;
  float: left;
  font-size: 28px;
}
article .article-head .article-time {
  float: right;
  font-size: 14px;
}
article .article-warn {
  margin: 20px 0px;
  border: 1px solid #e2e2e2;
  border-left: 4px solid #fff430;
  background-color: #ffffc0;
  padding: 10px 0px;
  padding-left: 10px;
}

footer {
  border-top: 1px solid gray;
  padding-top: 30px;
  margin-top: 30px;
  height: 40px;
  margin-right: 100px;
  max-width: 1500px;
}
footer .foot-writer {
  color: #8a8a8a;
  font-size: 14px;
  text-align: center;
}
footer .foot-writer a {
  color: #8a8a8a;
  text-decoration: none;
}