header {
  width: 100vw;
  padding-bottom: 40px;
  background-color: #087481;
  padding-top: 30px;
}
header .writer-face {
  display: block;
  width: 30vw;
  border-radius: 50%;
  margin-left: 35vw;
}
header .writer-name {
  text-align: center;
  margin-top: 10px;
}
header .write-text {
  text-align: center;
  margin-top: 10px;
  font-weight: 700;
}
header .nav {
  width: 60vw;
  min-width: 200px;
  margin: 0px auto;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
header .nav a {
  color: white;
  text-decoration: none;
}
header .navs {
  width: 30vw;
  margin: 0px auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
header img {
  width: 7vw;
}

article {
  width: 90vw;
  margin: 0px auto;
  margin-top: 20px;
}
article .article-head {
  clear: both;
  height: 50px;
  text-align: center;
  margin-bottom: 20px;
}
article .article-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer {
  padding: 30px 0px;
  margin-top: 30px;
  height: 40px;
  text-align: center;
}
footer .foot-writer {
  color: #8a8a8a;
  font-size: 14px;
  margin-top: 20px;
}
footer .foot-writer a {
  color: #8a8a8a;
  text-decoration: none;
}
footer #footType a {
  text-decoration: none;
  color: #076dd0;
}

#alert {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99999999;
  text-align: center;
  line-height: 100vh;
}
#alert img {
  width: 200px;
}