@import "@/page/statistics/index.scss";

.main-l {
  width: vw(750);
  height: vw(240);
}

.main-s {
  width: vw(500);
  height: vw(240);
}
.main-item {
  margin-top: vw(20);
  display: flex;
  justify-content: space-between;
}
.loadavg-item {
  $size:190;
  width: vw($size);
  height: vw($size);
  &:nth-child(1) {
    position: absolute;
    top: vw(10);
    left: calc((50% - vw($size) / 2));
  }
  &:nth-child(2) {
    position: absolute;
    bottom:vw(10);
    left: vw(10);
  }
  &:nth-child(3) {
    position: absolute;
    bottom: vw(10);
    right:vw(10);
  }
}
