.news {
  display: flex;
  margin-top: 15px;
  img {
    width: 150px;
    height: 150px;
  }
}
.introduce {
  text-overflow: ellipsis;
  display: -webkit-box; //作为弹性伸缩盒子模型显示。
  -webkit-box-orient: vertical; //设置伸缩盒子的子元素排列方式--从上到下垂直排列
  -webkit-line-clamp: 4; //显示的行
  overflow: hidden;
  margin-top: 10px;
}
// .link{

// }