@import "@/page/statistics/index.scss";
.aside-article-item {
  width: 100%;
  height: vw(445);
}
.article-ranking-item {
  height: vw(40);
  width: 100%;
  color: white !important;
  font-size: vw(18);
  border-bottom: vw(2) solid $borderColor;
   display: flex;
  justify-content: space-around;
  .article-ranking-item_title {
    margin-left: vw(10);
  }
  .article-ranking-item_count {
    font-weight: 700;
    margin-right: vw(40);
  }
}
.server-used-container {
  width: 100%;
  margin-top: vw(20);

  .server-used {
    width: 100%;
    height: vw(245);
  }
}
