.article {
  background-color: white;
  padding: 20px 30px;
  border-bottom: 1px solid #e8e8e8;
  width: 100vw;
}
.title {
  color: #1e90ff;
  font-size: 30px !important;
  font-weight: 400;
}
.article_footer {
  height: 25px;
  color: #999;
  font-size: 14px;
  .article_link {
    float: right;
    margin-right: 20px;
  }
}
