body {
  background-color: #f4f5f5;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body::-webkit-scrollbar {
  display: none;
}
@media screen and (min-width: 576px) {
  body {
    padding-top: 70px;
  }
}
// 只有在PC才显示，移动端直接隐藏
@media screen and (max-width: 576px) {
  .pc {
    display: none !important;
  }
}
// 只在移动端显示
@media screen and (min-width: 576px) {
  .phone {
    display: none !important;
  }
}
