@import "~antd/dist/antd.css";
* {
  padding: 0px;
  margin: 0px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.ant-message {
  z-index: 99999 !important;
}

@media screen and (min-width: 600px) {
  body {
    padding-left: 320px;
  }
}