#messgae .mes-head {
  height: 60px;
  line-height: 60px;
}
#messgae .mes-head .logn-in {
  float: right;
  margin-right: 40px;
  margin-top: 10px;
}
#messgae .mes-head .logn-in span {
  margin-right: 20px;
}
#messgae .mes-head img {
  cursor: pointer;
  width: 40px;
  border-radius: 50%;
}
#messgae .mes-head .signed-in span {
  margin-right: 20px;
}

#showMes .mes .mes-userdata {
  width: 100%;
  display: flex;
}
#showMes .mes .mes-userdata .mes-face {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}
#showMes .mes .mes-userdata .mes-text {
  width: 100%;
}
#showMes .mes .mes-userdata .mes-text .mes-name {
  width: 100px !important;
  display: inline-block;
}
#showMes .mes .mes-userdata .mes-text .mes-time {
  width: 100px !important;
  display: inline-block;
}
#showMes .mes .mes-userdata .mes-text .mes-reply {
  color: #00a2ff;
  cursor: pointer;
}
#showMes .mes .mes-userdata .mes-text .mes-reply:hover {
  text-decoration: underline;
}
#showMes .mes-showMes {
  margin: 0px;
  margin-left: 10px;
  color: #2f00ff;
}

@media screen and (min-width: 600px) {
  #div1 {
    width: 95%;
  }

  .send {
    display: block;
    margin-top: 20px;
    width: 95%;
    margin-bottom: 30px;
  }

  .mes-children .mes {
    margin-left: 50px;
  }
}
@media screen and (max-width: 600px) {
  #div1 {
    width: 95%;
    margin: 0px auto;
  }

  .send {
    display: block;
    margin: 0px auto;
    margin-top: 20px;
    width: 95%;
    margin-bottom: 30px;
  }

  .mes {
    margin-left: 5%;
  }

  .mes-children .mes {
    margin-left: 10%;
  }
}