<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>修改邮箱</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
      }
      .container {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .header {
        background-color: #0066ff;
        color: #ffffff;
        padding: 20px;
        text-align: center;
      }
      .content {
        padding: 20px;
        color: #333333;
      }
      .footer {
        background-color: #f1f1f1;
        color: #666666;
        text-align: center;
        padding: 10px;
        font-size: 12px;
      }
      .link-button {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #0066ff;
        color: #ffffff !important;
        text-decoration: none;
        border-radius: 3px;
      }
      pre {
        background-color: #f9f9f9;
        border: 1px solid #e0e0e0;
        padding: 10px;
        border-radius: 3px;
        overflow-x: auto;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>修改邮箱</h1>
      </div>
      <div class="content">
        <h2>修改邮箱</h2>
        <div>您的 <%= site_name %> 账号: <%= user_name %> 请求绑定此邮箱</div>
        <div>如果这不是您本人操作请忽略此邮件</div>
        <a href="<%= href %>" target="_blank" class="link-button"
          >如果您这是您的本人操作请点击本链接</a
        >
        <pre><%= href %></pre>
      </div>
      <div class="footer">
        <p>此邮件由系统自动发送，请勿回复。</p>
      </div>
    </div>
  </body>
</html>
