@import "@/page/statistics/index.scss";

// 容器，携带图片边框
.statistics-container {
  position: relative;
  border: vw(2) solid $borderColor;
  padding: vw(20) vw(12.5);
  display: inline-block;
  img {
    user-select: none;
  }
}

// 处理图片边框问题
.statistics-title-bg {
  width: vw(92.5);
  height: vw(11.5);
  position: absolute;
  left: vw(-(2));
  top: vw(-(11));
  background-repeat: no-repeat;
  background-size: cover;
}
.statistics-border-bg {
  width: vw(25);
  position: absolute;
}
.statistics-border-bg_left {
  left: vw(-2);
  bottom: vw(-2);
}
.statistics-border-bg_right {
  right: vw(-2);
  top: vw(-2);
  user-select: none;
}

.statistics-title-right-bg {
  position: absolute;
  width: vw(20);
  bottom: vw(-2);
  right: vw(-2);
}

