.nav {
  background-color: white;
  padding: 10px;
  .item {
    font-size: 18px;
    margin-left: 10px;
    color: #939393;
    &:nth-child(1) {
      margin-left: 0px !important;
    }
  }

  .active {
    color: #05a6f0;
  }
}

.container {
  padding: 10px;
  background-color: white;
  margin-top: 10px;
  img {
    max-width: 100%;
  }
}
