.main {
  width: 400px;
  * {
    background: none !important;
  }
}
@mixin animation($color) {
  // 使用字符串拼接来保证每个animation和@keyframs匹配
  animation: ani#{$color} 1s infinite;
  animation-direction:alternate;
  animation-timing-function:linear;
  @keyframes ani#{$color} {
    0% {
      box-shadow: $color 0px 0px 0px;
    }
    100% {
      box-shadow: $color 0px 0px 20px;
    }
  }
}

.edition {
  display: inline;
}
.content {
  margin: 0px;
}
.name {
  margin-left: 10px;
}
.alpha {
  color: red;
  @include animation(red);
}
.beta {
  color: blue;
  @include animation(blue);
}
.success {
  color: green;
  @include animation(green);
}
