.container {
  background-color: white;
  padding: 10px;
  position: fixed;
  top: 70px;
  width: 260px;
}
.face_box {
  text-align: center;
  padding: 10px 0px;
  // position: relative;
  .face {
    border-radius: 50%;
  }
  .name {
    font-weight: 400px;
    font-size: 20px;
    color: #1890ff;
  }
  .tags {
    span {
      margin-top: 5px;
    }
  }
}
.contact {
  $color: #ccc;
  color: $color;
  text-align: center;
  font-size: 24px;
  height: 30px;
  display: flex !important;
  a {
    //取消默认的line-height
    line-height: 0px !important;
    color: $color;
  }
}
