.header {
  $height: 60px;
  background-color: white;
  height: $height;
  width: 100vw;
  line-height: $height;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10 !important;
  .nav {
    max-width: 1600px;
    min-width: 1100px;
    height: $height;
    margin: 0px auto;
  }
  .logo {
    h1 {
      margin-left: 20px;
      font-weight: 400px;
      font-size: 30px;
      display: inline;
    }
    span {
      color: #999;
      font-size: 14px;
      margin-left: 10px;
    }
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
    a {
      color: #999;
      margin-left: 20px;
    }
    .active {
      font-weight: 700;
    }
  }
}
