.header {
  $height: 60px;
  background-color: white;
  height: $height;
  width: 100vw;
  line-height: $height;
  position: relative;
}

.logo {
  h1 {
    margin-left: 10px;
    display: inline;
  }
}

.phone_nav {
  position: fixed !important;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  height: 54px;
  background-color: white;
  nav {
    display: flex;
    justify-content: space-evenly;
    a {
      display: block;
      width: 25%;
      text-align: center;
      span {
        font-size: 20px;
      }
      p {
        display: none;
      }
    }
    .active {
      background-color: rgb(240, 240, 240);
    }
  }
}
